{
	"presets": [
		"@babel/preset-react",
		"@babel/preset-es2015",
		["@babel/preset-stage-0", {
			"useBuiltIns": true,
			"decoratorsLegacy": true
		}],
		["@babel/preset-env", {
			"targets": {
				"browsers": ["last 2 versions"]
			}
		}]
	],
	"plugins": ["transform-decorators-legacy"]
}
