.task-list {
	padding-top: 60px !important;

	.item {

		&__text {
			word-wrap: break-word;
			margin: 0 2em 0 1em;
			padding: 0;

			&--striped {
				text-decoration: line-through;
				color: $gray--dark;
			}
		}

		&__button {
			color: $white !important;
			margin-right: 10px !important;

			&--green {
				background-color: $green !important;

				&:hover {
					background-color: $green--dark !important;
				}
			}

			&--red {
				background-color: $red !important;

				&:hover {
					background-color: $red--dark !important;
				}
			}
		}
	}
}
