* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: $blue;
	scroll-behavior: auto;
	font-size: 1.02vw;
	line-height: 1.5vw;
}

ul {
	list-style: none;
}

strong {
	font-weight: 700;
}
